# Place your Hugging Face Access Token below to download gated models (like MentalBERT).
# You can generate a token at https://huggingface.co/settings/tokens. And create READ Token
HF_TOKEN=hf_paste_your_token_here
HF_HUB_DISABLE_SYMLINKS_WARNING=True